@font-face {
  font-family: firstFont;
  src: url(./assets/PrimaSerif_BT_Roman.ttf);
}

h1 {
  font-family: firstFont, sans-serif;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35em;
  margin: 2em;
}
