@font-face {
  font-family: firstFont;
  src: url(./assets/PrimaSerif_BT_Roman.ttf);
}

@font-face {
  font-family: secondFont;
  src: url(./assets/Merlo-RoundBoldItalic.otf);
}

@font-face {
  font-family: thirdFont;
  src: url(./assets/Yalta_Sans_W01.ttf);
}

:root {
  --width: 35em;
  --color: lightgray;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin: auto;
  width: fit-content;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

h1 {
  margin: 0 1.5rem;
  padding: 0;
  font-family: firstFont, sans-serif;
  font-weight: 500;
}

#taskInput {
  margin: 0 1.5rem;
  border: none;
  font-family: secondFont, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #858586;
}

#taskInput:focus {
  outline: none;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: thirdFont, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #858586;
}

img {
  margin: 0 1.5rem 0 auto;
  width: 1.5em;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

hr {
  margin: 0;
  width: var(--width);
  border: 1px solid var(--color);
}

ul {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: row;
  width: var(--width);
  margin: 1rem 0;
}

li {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 1rem 0;
  font-family: firstFont, sans-serif;
  font-size: 1.5rem;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin: 0 1rem 0 2rem;
}

.textLineThrough {
  text-decoration: line-through;
}

.h1Container {
  justify-content: space-between;
}

.h3Container {
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
